body {
  padding: 0;
  margin: 0;
}
.chooseMarker {
  position: relative;
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  align-items: stretch;
  opacity: 1;
  transition: opacity 0.5s;
  z-index: 2;
}

.chooseMarker h1 {
  position: fixed;
  z-index: inherit;
  color: white;
  font-size: 3vw;
  text-align: center;
  opacity: 1;
  left: 50%;
  transform: translate(-50%, 0);
  pointer-events: none;
}
.choose-cross,
.choose-circle {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0.6;
  transition: opacity 0.15s;
}

.choose-cross:hover,
.choose-circle:hover {
  opacity: 1;
}

.choose-cross:active,
.choose-circle:active {
  opacity: 0.5;
}

.choose-cross {
  background-color: rgba(255, 73, 73);
}

.choose-circle {
  background-color: rgb(85, 85, 255);
}

.chooseMarker img {
  width: 40%;
}

.chooseMarker p {
  color: white;
  font-size: 30px;
}


.board {
  position: fixed;
  opacity: 1;
  display: grid;
  grid-template-columns: 300px 300px 300px;
  top: 10px;
  left: 500px;
  right: 0;
  margin: auto;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 6px solid black;
  height: 300px;
}

.borderless-top {
  border-top: none;
}
.borderless-right {
  border-right: none;
}
.borderless-left {
  border-left: none;
}
.borderless-bottom {
  border-bottom: none;
}

.cell img {
  height: 80%;
}

.cell .imghover {
  opacity: 20%;
}

.hidden {
  opacity: 0;
}
.hide-display {
  display: none;
}